.body_bg{
    background-color: #222D32;
    
}
.mg_top{
 margin-top:150px;
}




/* 登入页面 */
.panel{
    margin:0 auto;
    border-radius: 6px;
}



.panel .panel-heading{
    height:61px;
    text-align: center;
    /* font-size: 20px; */
    
}
.panel .panel-heading .panel-title{
    font-size: 20px;
    line-height: 40px;
}
#form .form-group .wordo{
   display:inline-block;
   margin-right:9px;
}